.caption {
    margin-top: 70px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
h2 {
    font-size: 40px;
}


.news-content p{
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}



h4 {
    font-size: 15px;
    text-align: right;
    width: 87.5%;
}


.comment {
    margin: 3rem auto;
    width: 90%;
    max-width: 45rem;
}

.comment h2 {
    margin-bottom: 0.5rem;
}

.comment-elems {
    margin-bottom: 1rem;
    font-size: 14px;
}

.comment-elems label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    display: block;
}

.comment-elems input,
.comment-elems textarea {
    display: block;
    width: 100%;
    padding: 0.25rem;
    border-radius: 0;
    border: 1px solid #1f1f1f;
    
}

.comment button {
    background-color: #ffb703;
    padding: 4px 10px;
    border-color: #ffb703;
    cursor: pointer;
}

.users_comments {
    margin: 3rem auto;
    width: 75%
}

.users_comments ul{
    list-style: none;
}

.users_comments li {
    padding: 5px 5px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid #a5a5a5;
    

}
